@import url("https://fonts.googleapis.com/css?family=Quicksand:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

:root {
    --yellow: #e5ff00;
    --grey: #181818;
    --grey2: #4a4a4a;
    --dark: #000;
    --white: #fff;
    --red: rgb(255, 0, 0);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--yellow) !important;
    font-family: "Roboto", sans-serif;
}

/* HEADER */
nav {
    position: relative;
    height: 60px;
    padding: 15px 60px;
}

nav .logo {
    line-height: 60px;
    height: 50px;
    float: left;
}

nav .logo img {
    height: 100%;
}

nav .show {
    position: relative;
    width: 30px;
    height: 5px;
    background: var(--dark);
    float: right;
    margin-top: 25px;
    cursor: pointer;
}

nav .show:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark);
}

nav .show:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark);
}

nav .menu {
    float: right;
    line-height: 60px;
}

nav .menu a {
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 80px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

nav .menu .hide {
    font-size: 40px;
}

nav .show,
nav .menu .hide {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
}

nav .menu a:hover,
nav .menu .hide:hover,
nav .menu a.active {
    font-weight: 900;
}

::-webkit-scrollbar {
    width: 7px;
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 25px;
}

/* IPAD */
/* 768 x 1024 */
@media (width: 768px) and (height: 1024px) {
    nav .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: var(--white);
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        z-index: 999;
        -webkit-transition: 0.7s;
        transition: 0.7s;
    }

    nav .menu a {
        display: block;
        padding: 20px;
    }

    nav .show,
    nav .menu .hide {
        display: block;
    }

    nav .menu .hide {
        position: absolute;
        top: 40px;
        right: 40px;
    }
}

/* IPAD PRO */
/* 1024 x 1366 */
@media (width: 1024px) and (height: 1366px) {
    nav .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: var(--white);
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        z-index: 999;
        -webkit-transition: 0.7s;
        transition: 0.7s;
    }

    nav .menu a {
        display: block;
        padding: 20px;
        font-size: 1.5em;
    }

    nav .show,
    nav .menu .hide {
        display: block;
    }

    nav .menu .hide {
        position: absolute;
        top: 40px;
        right: 40px;
    }
}

@media screen and (max-width: 899px) {
    nav .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: var(--white);
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        z-index: 999;
        -webkit-transition: 0.7s;
        transition: 0.7s;
    }

    nav .menu a {
        display: block;
        padding: 20px;
    }

    nav .show,
    nav .menu .hide {
        display: block;
    }

    nav .menu .hide {
        position: absolute;
        top: 40px;
        right: 40px;
    }
}
